# SPDX-FileCopyrightText: 2023 A3 Audio UG (haftungsbeschränkt) <contact@a3-audio.com>
#
# SPDX-License-Identifier: CC0-1.0

---
# BasedOnStyle: LLVM
# BasedOnStyle: Google
# BasedOnStyle: Chromium
# BasedOnStyle: Mozilla
# BasedOnStyle: WebKit
# BasedOnStyle: Microsoft
BasedOnStyle: GNU
IndentWidth: 2
---
Language: Cpp
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
---
