# SPDX-FileCopyrightText: 2023 A3 Audio UG (haftungsbeschränkt) <contact@a3-audio.com>
#
# SPDX-License-Identifier: CC0-1.0

build/
compile_commands.json
.ccls-cache/
.ccls-root
src/a3-motion-engine/Config.hh
src/a3-motion-ui/Config.hh
